<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <h4>E-Kart-Shop</h4>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <h5>Home</h5>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="cart">
          <h5>Cart {{cartLength}}</h5>
        </a>
      </li>
    </ul>
    <ng-container *ngIf="!isLoggedIn else profile">
      <div class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#signup"
          data-bs-whatever="@mdo">SignUp</button>
        <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="signupLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="signupLabel">SignUp modal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Enter your Name:</label>
                  <input type="text" class="form-control" id="recipient-name" [(ngModel)]="inputobj.name">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Enter your Email:</label>
                  <input type="email" class="form-control" id="recipient-name" [(ngModel)]="inputobj.email">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Enter your Password:</label>
                  <input type="password" class="form-control" id="recipient-name" [(ngModel)]="inputobj.password">
                </div>
                <button (click)="getInputValue()">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login"
          data-bs-whatever="@mdo"> Login </button>
        <div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginLabel">login modal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Enter your Email:</label>
                  <input type="email" class="form-control" id="recipient-name" [(ngModel)]="inputobj1.email">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Enter your Password:</label>
                  <input type="password" class="form-control" id="recipient-name" [(ngModel)]="inputobj1.password">
                </div>
                <button (click)="getInputValue1()">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #profile>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfTTZrW_2tXL5nIbWgIBmMiTQQT3jdLSIwfQ&s"
        class="size">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          logout
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="clearLocalStoreClear()">logout</a>
        </div>
      </div>
    </ng-template>
  </div>
</nav>